# src/main/resources/application.yml

spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
  ai:
    ollama:
      base-url: ${OLLAMA_BASE_URL:http://localhost:11434}
      chat:
        model: llama3:8b-instruct-q8_0
        options:
          temperature: 0.2
    vector-store:
      chroma:
        client:
          host: ${CHROMA_HOST:http://localhost}
          port: ${CHROMA_PORT:8000}
        collection-name: ${CHROMA_COLLECTION_NAME}
        # initialize-schema: true
  profiles:
    active: local

github:
  base-url: "https://api.github.com"
  token: ${GITHUB_TOKEN}
  review-path: "/repos/{owner}/{repo}/pulls/{pull_number}/reviews"

ai:
  prompts:
    ollama:
      code-review-prompt: "classpath:/prompts/code-review.st"
      review-merge-prompt: "classpath:/prompts/review-merge.st"
  provider: ollama